@import "mixins.styl"

section.main.index
  .create-block
    container-styles()
    slide()
    .title
      margin-bottom 2em
    .bike-icon
      display block
      margin 0 auto 3em auto
      width 285px
      height 133px
    p
      margin 0 auto 2em auto
      width 17.5em
    .button
      padding-left 4em
      padding-right 4em
      margin-bottom 2em

    @media (min-width mup)
      margin-bottom 8em
      .title
        margin-bottom 0
      .bike-icon
        width 787px
        height 366px
        margin-bottom .7em
      p
        width auto
        margin-bottom .5em
      @media (max-aspect-ratio index-small)
        .title
          margin-bottom .5em
        .bike-icon
          margin-bottom 5em
        p
          margin-bottom 2em
      @media (max-aspect-ratio index-medium)
        .title
          margin-bottom 1.5em
        p
          margin-bottom 4em
      @media (max-aspect-ratio index-large)
        min-height 0