@import "mixins"

section.main.index
  .frame-block
    background no-repeat image-url('pages/index/frame-bg.jpg') 50% 20px / 100%
    container-styles()

    .carbon
      position absolute
      right 15px
      top 58%
      width 110px
      overflow hidden
      .text
        opacity 0
        text-transform uppercase
        color rgba(#c6c6c6, .6)
        font-size .75em
        padding 2em 0 2em 50px
        background no-repeat image-url('pages/index/carbon.png') 0 3px / 43px
        box-sizing border-box
      .line
        border-top 1px solid rgba(#c6c6c6, .3)
        transform translateY(-100%)

    @media (min-width mup)
      mup-video-block()
      .carbon
        top 45%
        right auto
        left 68%
        width 300px
        .text
          font-size 1.19em
          padding 2.2em 0 2.2em 150px
          background-size 130px
          background-position 0 15px
        .line
          border-top-width 2px
          border-bottom-width 2px

