//Хелперы
container-styles()
  .container
    position relative
    background linear-gradient(to top, rgba(black, 1), rgba(black, .01) 20px)

block-base(pos = top center)
  margin-bottom 5em
  background-size auto
  background-position pos

mup-video-block()
  background none
  .site-container
    max-width none
  .container
    width auto