.create-block.vh-slide.__last
  .site-container
    .container
      .title Create
      .lozad.__create
        include create-bike-icon.html
      p The City Racer gives you back your city. With its strong performance, CARBO GATTO leaves everything behind them. The slender design provides for true pleasure of driving and even brings a smile to the faces of first-time motorbike riders
      .text-center
        a.button(href='#') Config your carbogatto