.frame-block
	.site-container
		.container
			.title.__absolute Frame
			.relative-container
				img.block-spacer.__no-padding(src='../build/img/pages/index/bg-spacer.png')
				.video-container
					.top-line
					video(data-src='../build/img/pages/index/frame.mp4',
					preload='metadata',
					muted='muted',
					data-poster='../build/img/pages/index/frame-poster.jpg')
					.bottom-line
				.carbon.lozad.__frame
					.line
					.text CARBON MADE FRAME WITH LIGHT WEIGHT
					.line
			.text-block
				p The City Racer gives you back your city. With its strong performance, CARBO GATTO leaves everything behind them. The slender design provides for true pleasure of driving and even brings a smile to the faces of first-time motorbike riders.
