.frame-block
	.site-container
		.container
			img.spacer(src='../build/img/pages/index/spacer-frame.png')
			.video-container
				.top-line
				video.lozad.__frame-video(data-src='../build/img/pages/index/frame.mp4',
				preload='auto',
				muted='muted')
				.bottom-line
			.title Frame
			.carbon.lozad.__frame
				.line
				.text CARBON MADE FRAME WITH LIGHT WEIGHT
				.line
			.text-block
				p The City Racer gives you back your city. With its strong performance, CARBO GATTO leaves everything behind them. The slender design provides for true pleasure of driving and even brings a smile to the faces of first-time motorbike riders.
