.frame-block.vh-slide
  .site-container
    .container
      .title.__absolute Frame
      .relative-container
        .video-container
          .top-line
          .preloader
          //В data-duration выводим продолжительность видео на 1 десятую меньше чем на самом деле
            все уже выведено правильно, трогать не нужно
          video(preload='auto',
          muted,
          playsinline,
          data-duration=4.9,
          data-poster='../build/img/pages/index/frame-poster.jpg?ver=5',
          data-poster-mob='../build/img/pages/index/frame-poster-mob.jpg?ver=5',
          data-src='../build/img/pages/index/frame',
          data-src-mob='../build/img/pages/index/frame-mob.mp4')
          .bottom-line
        .carbon.lozad.__frame
          .line
          .text CARBON MADE FRAME WITH LIGHT WEIGHT
          .line
      .text-block
        p The City Racer gives you back your city. With its strong performance, CARBO GATTO leaves everything behind them. The slender design provides for true pleasure of driving and even brings a smile to the faces of first-time motorbike riders.
