include ../../mixins/svg

.pagination
  svg.__active(data-slide='.top-block'): +use('hex')
  svg(data-slide='.frame-block'): +use('hex')
  svg(data-slide='.battery-block'): +use('hex')
  svg(data-slide='.suspension-block.__front'): +use('hex')
  svg(data-slide='.suspension-block.__rear'): +use('hex')
  svg(data-slide='.motor-block'): +use('hex')
  svg(data-slide='.stand-block'): +use('hex')
  svg(data-slide='.tyres-block'): +use('hex')
  svg(data-slide='.create-block'): +use('hex')
  svg(data-slide='footer.main'): +use('hex')
