.suspension-block
	.site-container
		.container
			.title.__absolute
				span Suspension
			.relative-container
				img.block-spacer(src='../build/img/pages/index/bg-spacer.png')
				.video-container
					.top-line
					video(data-src='../build/img/pages/index/sus.mp4',
					preload='metadata',
					muted='muted',
					data-poster='../build/img/pages/index/sus-poster.jpg')
					.bottom-line
				.bike.lozad.__sus-bike
					.icon
						include sus-bike.html
						img.shocks(src='../build/img/pages/index/sus-bike.png')
					span Adjustable suspension
			.text-block
				img.logos.lozad.__sus-logos(src='../build/img/pages/index/sus-logos.png')
				p Relaxed travelling on your daily tour of the city with an average range of 50 to 60 kilometres. This is how to charge the battery: Simply remove the battery box and plug into any socket with the battery charger. The battery can of course be charged whilst the box remains in the CARBO GATTO. The battery box is secured against unauthorized access. The high quality BMS Battery Management System protects against short circuits and excess current.
