.tyres-block.vh-slide
  .site-container
    .container
      .title Tyres
      img.logos.lozad.__tyres-logos(src='../build/img/pages/index/tyres-logos.png')
      p Back wheel hub electric motor, brushless. 45 km/h and 25 km/h to be chosen from and are perfect for the city centre. 2 kW. More powerful motors available upon request. 4 drive modes can be selected via the handlebar push-button: Eco / Custom
