@import "index-animations"

section.main.index
  color white
  border-bottom 1px solid transparent
  box-sizing border-box
  //Не получается ставить черный бек всей секции
  //есть блок frame который содержит видео с z-index -1
  .bg-block
    background black
    //Без отступа иногда торчит белый фон снизу
    margin-bottom -1px
    @extend .clearfix
  p
    font-weight 300
    text-align center
  .title
    font-size 2.04em
    text-transform uppercase
    font-weight 300
    text-align center
    margin-bottom .5em
  .icons-block
    position absolute
    right 45px
    top 60px
    width 85px
    overflow hidden
    .icons-line
      border-bottom 1px solid rgba(#c6c6c6, .3)
      transform translateX(-100%)
    .icons-row
      padding .5em 0
      position relative
      &.__no-border
        border-bottom none
      .icons-icon
        position absolute
        left 8px
        top 8px
        width 16px
        height auto
        &.__battery
          height 8.5px
          .__body
            opacity 0
          for num in 1 2 3 4 5 6 7 8 9 10
            .__{num}
              opacity 0
        &.__voltage
          width 15px
          height @width
          top 5px
          transform scale(.1)
          opacity 0
        &.__range
          height 7.7px
          .wheel-left, .wheel-right, .dots, .flag
            opacity 0
        &.__speed
          width 17.5px
          top 3px
          .__arrow
            transform-origin 50% 70% 0
            transform rotate(-165deg)
        &.__power
          width 19px
          height 10.8px
          top 5px
          opacity 0
        &.__features
          width 20px
          top 5px
          for num in 1 2 3 4
            .__{num}
              opacity 0
      .icons-title
        font-weight bold
        color #00d2ff
        font-size .72em
        margin-left 30px
        .__number:not(.__no-margin)
          &::after
            content ' '
        &.__pink
          color #ec659e
        &.__yellow
          color #e79d37
      .icons-text
        margin-left 30px
        font-size .72em
        color rgba(#c6c6c6, .6)
        text-transform uppercase
  .button
    text-transform uppercase
    position relative
    display inline-block
    border 1px solid color-blue
    padding .8em 3em
    background no-repeat image-url('main/arrow-right-white.png') calc(100% - 5px) .9em / 5px
    color white
    font-weight 300
    transition background .3s
    &:hover
      text-decoration none
      background-color rgba(white, .15)
  //Хелперы
  container-styles()
    .container
      position relative
      background linear-gradient(to top, rgba(black, 1), rgba(black, .01) 20px)
  block-margin-bottom = 4em
  //Top
  .top-block
    background no-repeat image-url('pages/index/top-bg.jpg') 50% -6px / 320px
    padding 185px 0 2em 0
    margin-bottom 0
  //Frame
  .frame-block
    background no-repeat image-url('pages/index/frame-bg.jpg') 50% 20px / 100%
    container-styles()
    video
      display none
    .spacer
      max-width none
      width calc(100% + 30px)
      float left
      box-sizing border-box
      margin-left -(container-padding)
      margin-bottom 1.2em
    .title
      position absolute
      top 0
      width 100%
      left 0
      //Блоку нельзя ставить фон - сзади на десктопе видео с z-index -1
      background black
    .text-block
      clear both
      background black
      margin-left -(container-padding)
      margin-right @margin-left
      padding 0 container-padding block-margin-bottom container-padding
    .carbon
      position absolute
      right 30px
      top 39%
      width 110px
      overflow hidden
      .text
        opacity 0
        text-transform uppercase
        color rgba(#c6c6c6, .6)
        font-size .75em
        padding 2em 0 2em 50px
        background no-repeat image-url('pages/index/carbon.png') 0 3px / 43px
        box-sizing border-box
      .line
        border-top 1px solid rgba(#c6c6c6, .3)
        transform translateY(-100%)
  //Battery
  .battery-block
    background no-repeat image-url('pages/index/battery-bg.jpg') 50% 40px / 100%
    margin-bottom block-margin-bottom
    container-styles()
    .title
      margin-bottom 200px
  //Suspension
  .suspension-block
    background no-repeat image-url('pages/index/sus-bg.jpg') 50% 40px / 100%
    margin-bottom block-margin-bottom
    container-styles()
    .logos
      width 130px
      margin 0 auto
      display block
      opacity 0
    .title
      margin-bottom 170px
    .bike
      position absolute
      top 100px
      left 10px
      text-transform uppercase
      color rgba(#c6c6c6, .6)
      font-size .75em
      padding 2.5em 0 2.5em 110px
      border-top 1px solid rgba(#c6c6c6, .3)
      border-bottom 1px solid rgba(#c6c6c6, .3)
      box-sizing border-box
      width 160px
      .icon
        position absolute
        top 3px
        left 0
        width 95px
        height 44px
        .bike-icon
          width 100%
          height 100%
          opacity .3
        .shocks
          position absolute
          left 39%
          top 5%
          width 45%
          opacity 0
  //Motor
  .motor-block
    background no-repeat image-url('pages/index/motor-bg.jpg') 50% 30px / 100%
    margin-bottom block-margin-bottom
    container-styles()
    .title
      margin-bottom 190px
    .button
      position absolute
      left 10px
      top 170px
    .icons-block
      right auto
      left 10px
      top 87px
  //Stand
  .stand-block
    background no-repeat image-url('pages/index/stand-bg.jpg') 50% 30px / 100%
    margin-bottom block-margin-bottom
    container-styles()
    .title
      margin-bottom 190px
    .bike
      position absolute
      top 140px
      left 30px
      text-transform uppercase
      color rgba(#c6c6c6, .6)
      font-size .75em
      padding 2em 0 2em 70px
      border-top 1px solid rgba(#c6c6c6, .3)
      border-bottom 1px solid rgba(#c6c6c6, .3)
      width 125px
      box-sizing border-box
      .bike-icon
        position absolute
        left 0
        top 8px
        width 60px
        height 29px
  //Tyres
  .tyres-block
    background no-repeat image-url('pages/index/tyres-bg.jpg') 50% 40px / 160px
    margin-bottom block-margin-bottom
    container-styles()
    .logos
      width 225px
      margin 0 auto 2em auto
      display block
      opacity 0
    .title
      margin-bottom 140px
  //Create
  .create-block
    container-styles()
    margin-bottom block-margin-bottom
    .title
      margin-bottom .5em
    .bike-icon
      display block
      margin 0 auto 20px auto
      width 285px
      height 133px
    p
      margin-bottom 2em
    .button
      padding-left 1em
      padding-right 2em

  @media (min-width mup)
    .button
      font-size 1.19em
      background-size 10px auto
      background-position calc(100% - 10px) .6em
      padding .5em 3em
      border-width 1.5px
    p
      opacity .9
      font-size 1.16em
      width 820px
      margin-left auto
      margin-right auto
    .title
      font-size 2.38em
    .icons-block
      width 240px
      top 120px
      right 140px
      .icons-line
        border-bottom-width 2px
      .icons-row
        padding 1em 0
        .icons-icon
          width 47px
          left 27px
          top 27px
          &.__battery
            height 25px
          &.__voltage
            width 42px
            height @width
            top 20px
          &.__range
            height 22.5px
          &.__speed
            width 50px
            left 0
            top 17px
          &.__power
            width 54px
            height 30.8px
            left 0
            top 20px
          &.__features
            width 58px
            left 0
            top 20px
        .icons-title
          font-size 1.19em
          margin-left 95px
        .icons-text
          margin-left 95px
          font-size 1.19em
    block-base(pos = top center)
      margin-bottom 5em
      background-size auto
      background-position pos
    //Top
    .top-block
      block-base()
      padding-top 730px
    //Frame
    .frame-block
      background none
      .site-container
        max-width none
      .container
        width auto
      .spacer
        display none
      .video-container
        position relative
        @extend .clearfix
        .top-line, .bottom-line
          position absolute
          left 0
          top 0
          height 25px
          width 100%
          background linear-gradient(to top, rgba(black, 0), rgba(black, 1))
        .bottom-line
          top auto
          bottom 0
          background linear-gradient(to bottom, rgba(black, 0), rgba(black, 1))
        video
          background black
          margin 2.5em 0 0 0
          float left
          width 100%
          position relative
          z-index 0
          display block
          backface-visibility hidden
          z-index -1
      .title
        top 0
        z-index 2
        padding-bottom .2em
        background linear-gradient(to bottom, rgba(black, 1), rgba(black, 1) 40px, rgba(black, 0))
      .text-block
        padding-top 1em
        margin-left 0
        margin-right 0
      .carbon
        top 35%
        right auto
        left 68%
        width 300px
        .text
          font-size 1.19em
          padding 2.2em 0 2.2em 150px
          background-size 130px
          background-position 0 15px
        .line
          border-top-width 2px
          border-bottom-width 2px
    //Battery
    .battery-block
      block-base(50% 20px)
      .title
        margin-bottom 700px
    //Suspension
    .suspension-block
      block-base(50% 50px)
      .title
        margin-bottom 700px
      .logos
        width auto
      .bike
        border-top-width 2px
        border-bottom-width 2px
        top 270px
        width 500px
        font-size 1.21em
        padding 2.5em 0 2.5em 325px
        .icon
          width 284px
          height 132px
          left 5px
          top 10px
    //Motor
    .motor-block
      block-base(50% 50px)
      .title
        margin-bottom 750px
      .icons-block
        left 0
        top 350px
        .icons-title
          margin-left 65px
        .icons-text
          margin-left 65px
      .button
        top 620px
    //Stand
    .stand-block
      block-base(50% 60px)
      .title
        margin-bottom 765px
      .bike
        border-top-width 2px
        border-bottom-width 2px
        left auto
        right 0
        top 470px
        width 350px
        font-size 1.21em
        padding 2em 0 2em 200px
        .bike-icon
          width 167px
          height 79px
          left 10px
          top 35px
    //Tyres
    .tyres-block
      block-base(50% 100px)
      .logos
        width auto
      .title
        margin-bottom 300px
    //Create
    .create-block
      margin-bottom 8em
      .bike-icon
        width 787px
        height 366px
        margin-bottom 5em
      //.title
        //margin-bottom 450px