ul
  li(style='margin-bottom: .5em'): a(href='index.html') Home
  li(style='margin-bottom: .5em'): a(href='about.html') About
  li(style='margin-bottom: .5em'): a(href='acc.html') Accessories
  li(style='margin-bottom: .5em'): a(href='buy.html') Buy & Create
  li(style='margin-bottom: .5em'): a(href='gallery.html') Gallery
  li(style='margin-bottom: .5em'): a(href='news.html') News list
  li(style='margin-bottom: .5em'): a(href='news-one.html') News one
  li(style='margin-bottom: .5em'): a(href='support.html') Support
  li(style='margin-bottom: .5em'): a(href='support-faq.html') Support FAQ
  li(style='margin-bottom: .5em'): a(href='support-search.html') Support search
  li(style='margin-bottom: .5em'): a(href='support-post.html') Support post