extends layout/layout

block body
  //Пока не используем threejs - выводим частицы своими стилями/скриптами
  //script(src='https://threejs.org/build/three.min.js')
  //script(src='https://threejs.org/examples/js/renderers/Projector.js')
  //script(src='https://threejs.org/examples/js/renderers/CanvasRenderer.js')
  //script(src='https://threejs.org/examples/js/libs/stats.min.js')
  //Модальное окно
  //.modal-component.__buy
    .ct-mc-bg
    .ct-mc-content-container
      .ct-mc-content
        svg.ct-mc-close: +use('close')
        .right-text
          | Your shopping list will be <b>saved</b>. You can use it when you ordering from the Accessory and Create & Buy page.
        .ct-mc-title Checkout
        .par Enter your details to send an invoice

        .form-group
          .label Name
          input(type='text')
        .form-group
          .label Phone
          input(type='tel')
        .form-group.__last
          .label Email
          input(type='email')
        table
          tr.__title
            td Bike & customization
            td.__quantity Quantity
            td 155 000 €
          tr.__bold
            td CARBOGATTO BIKE
            td.__quantity
              select
                option 1
                option 2
            td
              svg: +use('close')
              span.price 80 000 €
          each val in [1,2,3]
            tr
              td Frame: carbon
              td(colspan=2) 20 000 €
        table
          tr.__title
            td Accessories
            td.__quantity Quantity
            td 36 000 €
          each val in [1,2,3]
            tr
              td Speedometer
              td.__quantity
                select
                  option 1
                  option 2
              td 10 000 €
        label.checkbox
          input(type='checkbox', required=true)
          em: svg: +use('check')
          span Agree to the processing of personal data
        .spacer
        a.terms(href='#') Terms of use
        button.button-component.__blue Send

  section.main.buy
    form
      .top-block
        - dotsArray = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
        //Частицы перед великом
          сейчас частицы анимируются следующим образом. У блоков .waves меняется translateY вверх-вниз
          частицы при этом стоят в один ряд в одном блоке - просто в ровную линию и выводятся в html
          каждая частика - это элемент .dot
          предлагается попробовать перейти на вариант, когда каждый ряд частниц будет картинокй,
          картинка будет стоять на бекграунде блока .waves и также будут "качаться" блоки .waves
          на счет того как именно их качать нужно подумать, чтобы это выглядело по-интересенее, может быть с перехлестыванием
          может быть один сильнее другой слабее - пробовать надо
        each i in [1,2,3]
          .waves(class=`__${i}`, data-start=(i / 10))
            each val in dotsArray
              .dot
        //Частицы за великом
        .waves-back-container
          each i in [1,2,3]
            .waves.__back(class=`__${i}`, data-start=(i / 22))
              each val in dotsArray
                .dot
        .site-container
          .title Create your carbogatto
          img.bike(src='../build/img/pages/buy/bike.png')
          .params
            .container
              table(align='center')
                tr
                  td
                    span Frame:
                    em.frame-name Carbon
                  td.frame-price 20 000 €
                tr
                  td
                    span Battery:
                    em.battery-name B-20
                  td.battery-price 22 000 €
                tr
                  td
                    span Motor:
                    em.motor-name GT-1080
                  td.motor-price 24 000 €
                tr
                  td
                    span Tyres:
                    em.tyres-name Pirelli XT-20
                  td.tyres-price 27 000 €
              .button
                button.button-component.__blue buy
      .total-block
        .site-container
          .container
            small Select items to customize your bike
            em
              i total:
              b
                span.total-price 93 000
                span €
      .site-container
        .container
          .color-block
            .block-title Color
            .items
              label.item
                input(type='radio', name='color', checked)
                svg.hex(fill='white'): +use('hex-border-grey')
                svg.hex-checked(fill='white'): +use('hex-border')
                .check
              label.item
                input(type='radio', name='color')
                svg.hex(fill='#00a4f0'): +use('hex')
                svg.hex-checked(fill='#00a4f0'): +use('hex-border')
                .check
              label.item
                input(type='radio', name='color')
                svg.hex(fill='#e5b700'): +use('hex')
                svg.hex-checked(fill='#e5b700'): +use('hex-border')
                .check
              label.item
                input(type='radio', name='color')
                svg.hex(fill='#596a5d'): +use('hex')
                svg.hex-checked(fill='#596a5d'): +use('hex-border')
                .check
              label.item
                input(type='radio', name='color')
                svg.hex(fill='#ee7307'): +use('hex')
                svg.hex-checked(fill='#ee7307'): +use('hex-border')
                .check
              label.item
                input(type='radio', name='color')
                svg.hex(fill='#707070'): +use('hex')
                svg.hex-checked(fill='#707070'): +use('hex-border')
                .check
              label.item
                input(type='radio', name='color')
                svg.hex(fill='#9b2821'): +use('hex')
                svg.hex-checked(fill='#9b2821'): +use('hex-border')
                .check
          .options-block
            .option.frame-control
              .block-title Frame
              .row
                label.button
                  input(type='radio', name='frame', checked)
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                //При изменении радиокнопки цена из блока .price учитывается в пересчете
                  общей цены (блок .total-price выше) и для вывода в шапке (блок .frame-price, .battery-price, ...)
                .price 20 000 €
                .title Carbon
                .desc Info about item
              .row
                label.button
                  input(type='radio', name='frame')
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 21 000 €
                .title Megacarbon
                .desc Info about item
              .row
                label.button
                  input(type='radio', name='frame')
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 22 000 €
                .title Supermegacarbon
                .desc Info about item Info about item Info about item about item Info about item
            .option.battery-control
              .block-title Battery
              .row
                label.button
                  input(type='radio', name='battery', checked)
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 22 000 €
                .title B-20
                .desc Info about item
              .row
                label.button
                  input(type='radio', name='battery')
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 23 000 €
                .title Megabattery
                .desc Info about item
              .row
                label.button
                  input(type='radio', name='battery')
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 24 000 €
                .title Supermegabattery
                .desc Info about item Info about item Info about item about item Info about item
            .option.motor-control
              .block-title Motor
              .row
                label.button
                  input(type='radio', name='motor', checked)
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 24 000 €
                .title GT-1080
                .desc Info about item
              .row
                label.button
                  input(type='radio', name='motor')
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 25 000 €
                .title GT-1100
                .desc Info about item
              .row
                label.button
                  input(type='radio', name='motor')
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 26 000 €
                .title GTX-1200
                .desc Info about item Info about item Info about item about item Info about item
            .option.tyres-control
              .block-title Tyres
              .row
                label.button
                  input(type='radio', name='tyres', checked)
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 27 000 €
                .title Pirelli XT-20
                .desc Info about item
              .row
                label.button
                  input(type='radio', name='tyres')
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 28 000 €
                .title Pirelli XT-30
                .desc Info about item
              .row
                label.button
                  input(type='radio', name='tyres')
                  .button-component.__blue.__select select
                  .button-component.__white.__unselect unselect
                .price 29 000 €
                .title Pirelli XT-40
                .desc Info about item Info about item Info about item about item Info about item
          //Тут ниже должен быть блок с аксессуарами
