extends layout/layout

block body
	section.main.index
		include partials/index/top
		include partials/index/frame
		include partials/index/battery
		include partials/index/suspension
		include partials/index/motor
		include partials/index/stand
		.bg-block
			include partials/index/tyres
			include partials/index/create