extends layout/layout

block body
	section.main.index
		.bg-block
			//Top
			.top-block
				.site-container
					.container
						p The City Racer gives you back your city. With its strong performance, CARBO GATTO leaves everything behind them. The slender design provides for true pleasure of driving and even brings a smile to the faces of first-time motorbike riders.
		include partials/index/frame
		.bg-block
			include partials/index/battery
			include partials/index/suspension
			include partials/index/motor
			include partials/index/stand
			include partials/index/tyres
			include partials/index/create