include ../mixins/svg

footer.main
  .site-container
    .container
      .menu
        div: a(href='#') Create & Index
        div: a(href='#') Accessories
        div: a(href='#') Gallery
        div: a(href='#') About
        div: a(href='#') News
        div: a(href='#') Support
      .social
        //+use('fb') == use(xlink:href='#svg-fb') - /templates/mixins/svg.pug
        a(href='#'): svg.__fb: +use('fb')
        a(href='#'): svg.__twitter: +use('twitter')
        a(href='#'): svg.__youtube: +use('youtube')
        .copy
          span © Carbogatto
          em |
          span 2018
      .contacts
        .title Contacts
        div: a(href='tel:+71231232332') +7 (123) 123-23-32
        a(href='mailto:hello@carbogatto.com') hello@carbogatto.com
      .address
        .title Address
        span
          | 123456, Moscow, <br> St. Lenina Street, 123, <br> office 456