include ../mixins/svg

doctype html
html(lang="ru")
  head
    title Carbogatto
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //https://youtu.be/kxxFQZx3KOk?t=6m30s - принцип подключения ассетов с длинным кешированием
    link(rel='stylesheet' href='../build/styles/app-accc14f8de.css')
    script(src='../build/js/app-6ffed4e44d830d8e49fd.js')
  body(data-sprite-path='../build/styles/svg-sprite-e0f2b22cf8.svg',
  data-mup='1150')
    include nav
    block body
    include footer
