include ../mixins/svg

doctype html
//На главной у тегов html и body нужен класс no-scroll
html.no-scroll(lang="ru")
  head
    title Carbogatto
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //https://youtu.be/kxxFQZx3KOk?t=6m30s - принцип подключения ассетов с длинным кешированием
    link(rel='stylesheet' href='../build/styles/app-6877e09b4d.css')
    script(src='../build/js/app-434b853b5b9a8257bf62.js')
  body.no-scroll(data-sprite-path='../build/styles/svg-sprite-9da98597f6.svg',
  data-mup='1150')
    include nav
    block body
    include footer
