include ../mixins/svg

doctype html
//На главной у тегов html и body нужен класс no-scroll
html.no-scroll(lang="ru")
  head
    title Carbogatto
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    //https://youtu.be/kxxFQZx3KOk?t=6m30s - принцип подключения ассетов с длинным кешированием
    link(rel='stylesheet' href='../build/styles/app-a668582d37.css')
    script(src='../build/js/app-1b158aeaec24dba0bb4f.js')
    //Livereload - этот скрипт выводится только в процессе разработки фронта
    //| <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
  body.no-scroll(data-sprite-path='../build/styles/svg-sprite-f5c5401fbf.svg',
  data-mup='1150')
    include nav
    block body
    include footer
