//На главной нужно добавить класс __black блоку nav.main
nav.main
	a.logo(href='#')
	svg.close: +use('close')
	.menu-container
		.menu
			a(href='#').__home Home
			a(href='#') Create & buy
			a(href='#') Accessories
			a(href='#').__active About
			a(href='#') Gallery
			a(href='#') News
			a(href='#') Support
		.social
			a(href='#'): svg.__fb: +use('fb')
			a(href='#'): svg.__twitter: +use('twitter')
			a(href='#'): svg.__youtube: +use('youtube')